body{
	color:#fff;
	background-color:#F2F3F4;
	font-family: 'Oxygen', sans-serif;
	}
	
/*Footer Start*/
.panel-footer{
margin-top:30px;
padding-top:35px;
padding-bottom:30px;
background-color: #222;
border-top: 0;
}

.panel-footer div.row{
  margin-bottom:35px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius:50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
	
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

/*Footer End*/

/**Header Start**/
#header-nav{
	background-color:#1c77ac;
	border-radius:0;
	border:0;
	}
	
.navbar-brand{
	padding-top:30px;
	height:80px;
	}
	
.navbar-brand h1{
	font-family: 'Lora', serif;
	color:#bccbde;
	font-size:1.6em;
	text-transform:uppercase;
	font-weight:bold;
	text-shadow:1px 1px 1px #222;
	margin-top:0;
	margin-bottom:0;
	line-height: .75;
	}
	
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration:none;
	}
	
#icons{
margin-top: 24px;
}

#nav-list{
margin-top:0px;
}

#nav-list a{
	color:#000000;
	text-align:center;
	}
	
#nav-list a:hover{
	background:#6ed3cf;
	}
	
.navbar-header .icon-bar{
	border: 1px solid #000000;
	}
	
#nav-list2{
list-style-type:none;
margin-top:0px;
}

.dropdown-menu{
background-color:#1c77ac;
}

/*Header Close*/

/*Homepage start*/
#main-content{
color:black;
}

#demo1, #demo2{
color:black;
font-weight:bold;
}

#profile_name_2{
padding-top:85px;
}

#profile_name_1  h2, #profile_name_2 h2{
font-size:3.4em;
font-family: 'Merriweather', serif;
}

#profile_name_1 h3, #profile_name_2 h3{
font-family: 'Quattrocento', serif;
}

.container .profile_photo{
box-shadow: 0 0 5px ;
border: 1px solid black;
height:400px;
width:100%;
border-radius: 50%;
}

#rcorners3 {
  border-radius: 15px 50px 0px 0px;
} 

.tile{
box-shadow: 0 0 10px ;
border: 3px solid white;
background:white;
border-radius: 15px 50px;
margin-bottom:30px;
}

.tile p{
margin:10px;
}

.tile-content{
position:relative;
overflow:hidden;
margin: 10px;
}

.tile-content span{
position:absolute;
bottom:0;
right:0;
width:100%;
text-align:center;
font-size:3.5vw;
background-color: #000;
color:#fff;
opacity: .8;
}

/*.circular--square { border-radius: 50%; }*/

#quote h1{
font-size:8vw;
text-align:center;
}

/* homepage ends */

/*menu-category-starts*/

.category-title:hover{
 box-shadow:0 1px 5px 1px #cccccc;
}

#menu-categories-title + div{
margin-bottom:50px;
}

/*menu-categories-title ends*/

/*single categories */

.menu-item-title{
margin-bottom:25px;
}

.menu-item-title hr{
width:80%;
}

.menu-item-title .menu-item-price{
font-size:1.1em;
text-align: right;
margin-right: -15px;
margin-top: -15px;
}

.menu-item-title .menu-item-price span{
font-size: .6em;
}

.menu-item-photo{
position: relative;
border: 2px solid #3F0C1F;
overflow: hidden;
padding:0;
margin-right: -15px;
margin-left: auto;
margin-bottom:20px;
max-width:250px;
}

.menu-item-photo div{
position:absolute;
bottom:0;
right:0;
width:80px;
background-color: #557c3e;
text-align:center;
}

.menu-item-description{
padding-right:30px;
}

h3.menu-item-title{
margin:0 0 10px;
}

.menu-item-details{
font-size: .9em;
font-style: italic;
}

/*single categories*/


/***Extra Large devices***/
@media(min-width:1200px){
/* Header Start */
.navbar-brand{
  padding-top:0px;
	height:90px;
	}
	
.navbar-brand h1{
  padding-top:20px;
  padding-bottom:20px;
	font-size:6vw;   /* 1% of viewport width*/
	}
/* Header End */
	
	.container .profile_photon{
	   background:url('../img/profile_photon_1200.jpg') no-repeat;
	   height:675px;
	    }
	}

/***Large devices only***/
@media(min-width:992px) and (max-width:1199px){
/* Header Start */
.navbar-brand{
  padding-top:0px;
	height:90px;
	}
	
.navbar-brand h1{
  padding-top:20px;
  padding-bottom:20px;
	font-size:7vw;   /* 1% of viewport width*/
	}
/* Header End */

	}
	
/***Medium  devices only***/
@media(min-width:768px) and (max-width:991px){
/* Header Start */
.navbar-brand{
  padding-top:0px;
	height:90px;
	}
	
.navbar-brand h1{
  padding-top:20px;
  padding-bottom:20px;
	font-size:7vw;   /* 1% of viewport width*/
	}
/* Header End */

	}
	
/***Small devices***/
@media(min-width:576px) and (max-width:767px){

	/*.container .profile_photon{
		margin-top:30px;
		padding:0;
		}*/
		
		.menu-item-photo{
		margin-right: auto;
		}
		
		.menu-item-title .menu-item-price{
		text-align: center;
		}
		
		.menu-item-description{
		text-align: center;
		}
	}
	
/* Extra small devices */
@media(max-width:575px){
/*Footer starts*/
.panel-footer section{
margin-bottom:30px;
}
/*Footer ends*/

/*Homepage starts*/

.container .profile_photon{
margin-top:30px;
padding:0;
}
}

/*Homepage Ends*/
